.cabecalho {
     background-color: #fff625;
     display: flex;
     justify-content: space-around;
     padding: 24px 0;
      }
.cabecalho-imagem{
    width: 20%;
      }
.cabecalho-lista-item{
    padding: 30px 0;
    font-size: 24px;
}
.cabecalho-titulo{
    padding: 60px 0;
    color: #DB1F1F;
    font-size: 50px;
}   